.become {
  background-color: #fff;
  padding-top: 152px;
}

.become__title {
  max-width: 48%;
  margin-bottom: 95px;
}

.become__list {
  display: flex;
  flex-wrap: wrap;
}

.become__item {
  flex: 0 0 23.5%;
  margin-right: 2%;
  margin-bottom: 2%;
  overflow: hidden;
  border-radius: 4px;
  position: relative;
  font-size: 0;
}

.become__item:nth-child(4n) {
  margin-right: 0;
}

.become__text {
  position: absolute;
  bottom: 66px;
  left: 53px;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: var(--white-color);
  width: 64%;
  transform: translateY(300px);
  transition: transform 0.3s ease-in-out;
}

.become__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--neptun-color);
  mix-blend-mode: normal;
  opacity: 0;
  border-radius: 4px;
  transition: opacity 0.3s ease-in-out;
}

.become__image{
    max-height: 100%;
    object-fit: cover;
}

.become__item:hover::before{
    opacity: 0.9;
}

.become__item:hover .become__text {
    transform: translateY(0px);
    transition: opacity 0.3s ease-in-out;
}
